# IBM watsonx.ai
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=

# IBM Watson Speech to Text
WATSON_STT_API_KEY=
WATSON_STT_URL=

# PostgreSQL + pgvector
DATABASE_URL=

# App Config
AGENT_MODEL_ID=
EMBEDDING_MODEL_ID=
